::ng-deep .offcanvas.offcanvas-end.offcanvas-half-centered {
  --bs-offcanvas-width: 60vw;
  right: 15vw !important;
  max-width: none;

  top: 70px;
  bottom: auto !important;
  height: auto !important;
  //max-height: calc(100vh - 70px);
  max-height: 90vh !important;
  overflow-y: auto;
}

@media (max-width: 768px) {
  ::ng-deep .offcanvas.offcanvas-end.offcanvas-half-centered {
    --bs-offcanvas-width: 100vw;
    right: 0 !important;
    top: 0;
    bottom: 0;
    height: 100vh !important;
    max-height: 100vh;
  }
}

.colorRed {
  color: red !important;
}

:host ::ng-deep .datatable-body-cell,
:host ::ng-deep .datatable-header-cell {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.input-flex {
  display: flex;
  align-items: center;
  gap: 6px;
}

.input-flex span {
  white-space: nowrap;
  font-size: 14px;
  color: #555;
}

.input-flex input.form-control {
  flex: 1;
}

